<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="dashboard-header">
  <h2 class="dashboard-title">Asset Management</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <a href="#">Assets</a> &gt;
    <span>Asset Module</span>
  </nav>
</div>

<div class="tab-container">
  <!-- Radios for tabs -->
  <input type="radio" id="tab1" name="tab" [checked]="selectedTab === 'tab1'">
  <input type="radio" id="tab2" name="tab" [checked]="selectedTab === 'tab2'">
  <input type="radio" id="tab3" name="tab" [checked]="selectedTab === 'tab3'">
  <input type="radio" id="tab4" name="tab" [checked]="selectedTab === 'tab4'">
  <input type="radio" id="tab5" name="tab" [checked]="selectedTab === 'tab5'">
  <!-- <input type="radio" id="tab6" name="tab" [checked]="selectedTab === 'tab6'"> -->

  <!-- Tab Header -->
  <div class="tab-header">
    <label class="tab-label" for="tab1" *ngIf="canViewAddAsset">Add Asset</label>
    <label class="tab-label" for="tab4" *ngIf="canViewAssetRequests">Asset Requests</label>
    <label class="tab-label" for="tab3" *ngIf="canViewAssetApproval">Asset Approval</label>
    <label class="tab-label" for="tab5" *ngIf="canViewAssignAssetScreen">Assign Asset Screen</label>
    <label class="tab-label" for="tab2" *ngIf="canViewMyAssets">My Assets</label>
    <!-- <label class="tab-label" for="tab6" *ngIf="canViewAssetReports">Asset Reports</label> -->


  </div>

  <!-- TAB 1: ADD ASSET -->
  <div id="content1" class="tab-content" *ngIf="canViewAddAsset">
    <app-add-assets></app-add-assets>

  </div>

  <!-- TAB 4: ASSET HISTORY -->
  <div id="content4" class="tab-content" *ngIf="canViewAssetRequests">
    <app-asset-request></app-asset-request>
  </div>

  <!-- TAB 3: ASSET APPROVAL -->
  <div id="content3" class="tab-content" *ngIf="canViewAssetApproval">
    <app-asset-approval></app-asset-approval>
  </div>

  <div id="content5" class="tab-content" *ngIf="canViewAssignAssetScreen">
    <app-assign-asset-screen></app-assign-asset-screen>
  </div>

  <!-- TAB 2: MY ASSETS WITH FILTERS -->
  <div id="content2" class="tab-content" *ngIf="canViewMyAssets">
    <app-my-asset></app-my-asset>
  </div>

  <!-- TAB 6: ASSET REPORTS -->
  <!-- <div id="content6" class="tab-content" *ngIf="canViewAssetReports">
    <app-asset-report></app-asset-report>
  </div> -->

</div>

<app-footer></app-footer>