<nav class="submenu-nav" aria-label="submenu">
  <div #container class="submenu-container row">

    <div
      *ngFor="let sub of visibleSubmenus"
      class="submenu-item col-md-2 col-sm-3 col-10"
      [class.active]="isActive(sub.route) "
      (click)="selectSubmenu(sub.route)">

      <i *ngIf="sub.icon" [class]="sub.icon + ' me-1'"></i>
      <span>{{ sub.title }}</span>
    </div>

    <div class="more-dropdown col-md-2 col-sm-3 col-2" *ngIf="hiddenSubmenus.length > 0">
      <button
        class="more-btn"
        (click)="toggleDropdown($event)">
        More ▾
      </button>

      <div
        class="dropdown-content"
        [class.show]="isDropdownOpen"
        (click)="stopProp($event)">

        <div
          class="dropdown-item"
          *ngFor="let sub of hiddenSubmenus"
          (click)="selectSubmenu(sub.route)">

          <i *ngIf="sub.icon" [class]="sub.icon + ' me-1'"></i>
          {{ sub.title }}
        </div>

      </div>
    </div>

  </div>
</nav>