<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="dashboard-header">
  <h2 class="dashboard-title">Leave Management</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <a href="#">Leave</a> &gt;
    <span>Leave Management</span>
  </nav>
</div>

<div class="tab-container mt-4">

  <!-- TAB RADIO BUTTONS -->
  <input type="radio" id="tab1" name="tab" [checked]="selectedTab === 'tab1'">
  <input type="radio" id="tab2" name="tab" [checked]="selectedTab === 'tab2'">
  <input type="radio" id="tab3" name="tab" [checked]="selectedTab === 'tab3'">
<input type="radio" id="tab4" name="tab" [checked]="selectedTab === 'tab4'">
  <!-- TAB HEADERS -->
  <div class="tab-header">
    <label for="tab1"  *ngIf="canApplyLeave" class="tab-label">Apply Leave</label>
    <label for="tab2" *ngIf="canViewApproval" class="tab-label">Leave Approvals</label>
    <label for="tab3" *ngIf="canViewCalendar" class="tab-label">Leave Calendar</label>
     <label for="tab4" class="tab-label">Leave Report</label>
  </div>

  <!-- ========================= APPLY LEAVE TAB ========================= -->
  <div class="tab-content" id="content1" *ngIf="canApplyLeave">
    <app-apply-leave></app-apply-leave>
  </div>

  <!-- ========================= LEAVE APPROVALS TAB ========================= -->
  <div class="tab-content" id="content2" *ngIf="canViewApproval">
    <app-leave-approvals></app-leave-approvals>
  </div>

  <!-- ========================= LEAVE CALENDAR TAB ========================= -->
  <div class="tab-content" id="content3" *ngIf="canViewCalendar">
    <app-leave-calendar></app-leave-calendar>
  </div>
  <div class="tab-content" id="content4">
    <app-leave-report></app-leave-report>
    </div>
</div>

<!-- VIEW LEAVE MODAL -->


<app-footer></app-footer>